<div id="tab-content-tags" class="tab-content" style="font-size: 12px">
  <div class="tab-details pt-1">
    <div class="mb-3 toggle-container">
      <div class="toggle toggle-orange mr-2" (click)="tagsToggle($event)"></div>
      Urgent
    </div>
    <div class="mb-3 toggle-container">
      <div class="toggle toggle-purple mr-2" (click)="tagsToggle($event)"></div>
      Hedge Fund
    </div>
    <div class="mb-3 toggle-container">
      <div class="toggle toggle-blue mr-2" (click)="tagsToggle($event)"></div>
      Publicly Traded Equity
    </div>
    <div class="mb-3 toggle-container">
      <div class="toggle toggle-green mr-2" (click)="tagsToggle($event)"></div>
      Publicly Traded Debt
    </div>
    <a class="ml-5 d-block" style="font-weight: 500; color: #284ce0">+ Add New Tag</a>
  </div>
</div>