.fa-lock {
    font-size: 12px;
    padding-right: 5px;
}

.lockIcon {
    color: #C4C4C4;
}

.lockIcon:hover {
    color: #101010;
}

.highlightLockIcon {
    color: #101010;
}

.false{
    color: #bdbdbd;
    background: #bdbdbd;
}