// This file contains colors and styling shared across all pipeline components

$primaryBlue: #284CE0;
$headerLightBlue: #ECF0FF;
$neutralBlue: #DAE5FD;
$neutralBlueHighlight: #b8cdf9;

$backgroundOffWhite: #F7F9FF;
$backgroundGray: #E5E5E5;

$textGray: #616568;
$textNearBlack: #121212;

$inputBorderColor: #E0E4E8;
$inputFocusBlue: #7597FF;

$bainRed: #CC0000;
