@import '../../../../../styles/layout/deal.scss';
@import '../../../../../styles/layout/util.scss';


.chechboxFormat {
    margin-left: 10px;vertical-align: middle;
  }

  
  .deal-headings {
    text-align: left;
    font: normal normal bold 14px/20px 'Graphik';
    letter-spacing: 0px;
    color: #CC0000;
  }

  .bain-history-headings {
    font: normal normal bold 12px/16px 'Graphik';
    letter-spacing: 0px;
    color: #707070;
  }
  .formattedInput {
    border: none;
    border-bottom: 1px solid #C4C4C4;
    border-radius: 0px;
    height: 30px;
    background-color: #FFFFFF !important;
  }
  
  ::ng-deep #context-screen .ng-select {
    .ng-select-container {
      border: none !important;
      border-bottom: 1px solid #C4C4C4 !important;
      border-radius: 0px !important;
      min-height: 30px !important;
    }
  }
  
  ::ng-deep .ng-select.ng-select-single .ng-select-container {
    height: 30px !important;
  }
  
  @media screen and (max-width:1368px) {
    .labelText {
      font-size: 12px;
    }
  }

  
/* Custom CHECK BOX */
.checkContainer {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: #FFF;
  border: 1px solid #CC0000;
  box-sizing: border-box;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.checkContainer:hover input:enabled ~ .checkmark {
  background-color: #CC0000;
}


/* When the checkbox is checked, add a blue background */
.checkContainer input:checked ~ .checkmark {
  background-color: #CC0000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkContainer .checkmark:after {
  left: 3px;
  top: 0px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



::-webkit-scrollbar {
  width: 8px;    
}