.location-cell{
    width: 341px;
    height: auto;
    padding: 5px;
}

.location-edit{
    padding-bottom: 10px;
    color: grey;
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 5px;
}

.inputlocation{
    outline: none;
    border: 0.8px solid grey;
    border-radius: 4px;
}
:host ::ng-deep .ng-select .ng-select-container {
   // height: 24px !important;
    min-height: 24px !important;
  }
  :host ::ng-deep .ng-select .ng-clear-wrapper {
    cursor: pointer;
    display: block;
  }
 :host ::ng-deep .ng-select .ng-arrow-wrapper{
    display: none;
  }
//   :host ::ng-deep .ng-value-icon.left {
//     display: none !important;
// }
:host ::ng-deep  .ng-select .ng-select-container .ng-value-container {
  display: flex !important;
  flex: 1 !important;
}