<div class="location-cell">
    <div class="location-edit">
        <span style="margin-top: 5px;">Preferred  - </span>
        <ng-select [items]="bainOffices" #preferedOffice name="preferedOffice"
        class="slectComponent"
        bindLabel="officeName" 
        bindValue="officeCode"
        [multiple]="true"
        [(ngModel)]="preferred"  
        placeholder="Add Location"
        clearable = "true" 
       >
       <ng-template ng-label-tmp let-item="item" let-clear="clear">       
        {{item.officeAbbr}}
        <span class="ng-value-icon left" (click)="clear(item)">×</span>
    </ng-template>
     </ng-select>
    </div>
    <div class="location-edit">
     <span style="margin-top: 5px;">Conflicted  - </span>
     <ng-select [items]="bainOffices"
        class="slectComponent"
        bindLabel="officeName" 
        bindValue="officeCode"
        [(ngModel)]="conflicted"
        [multiple]="true" 
        placeholder="Add Location"
       >
       <ng-template ng-label-tmp let-item="item" let-clear="clear">       
        {{item.officeAbbr}}
        <span class="ng-value-icon left" (click)="clear(item)">×</span>
    </ng-template>
     </ng-select>
     </div>
     <div class="location-edit">
         <span style="margin-top: 5px;">Allocated  - </span>
       
     <ng-select [items]="bainOffices"
        class="slectComponent"
        bindLabel="officeName" 
        bindValue="officeCode"
        [(ngModel)]="allocated"
        [multiple]="true" 
        placeholder="Add Location"
       >
       <ng-template ng-label-tmp let-item="item" let-clear="clear">       
        {{item.officeAbbr}}
        <span class="ng-value-icon left" (click)="clear(item)">×</span>
    </ng-template>
     </ng-select>
     </div>
 </div>