.ag-popup-editor .ag-ltr .ag-popup-child{
    margin-left: 12px;
    margin-top: 32px;
}

.mb-div{
    width: 255px;
    height: 130px;
    padding: 8px;
}

.mb-span1{
    font-size: 17px;
}

.trackerMB{
    font-size: 15px;
    margin-top: 5px;
}

.tracker{
    font-weight: 600;

}
.viewClick{
    font-size: 15px;
    color: grey;
    margin-left: 10px;
}

.noMatches{
    width: 255px;
    height: 90px;
    padding: 8px;
}

.close{
    float: right;
    font-size: 13px;
}