.headerContainer {
    min-height: 33px;
    border: 1px solid darkgrey;
    border-radius: 4px;
    padding: 4px;
    // width: 280px;
}.tagName {
    color: black;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
}.tagHolder {
    color: black;
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
}.appliedHeaders {
    
    background-color: #8ccdff;
    color: black;
    font-size: 21px;
    margin-bottom: 7px;
    padding: 4px;
    border-radius: 4px;
    font-size: 11px;
}.grid-columns {
    margin-top: 5px;
    overflow-y: auto;
    padding: 0px 10px;
    min-width: 288px;
}

.custom-opp-input {
   height: 20px !important;
   width: 30px !important;
}