  .btnDetails{
    background: none;
    height: 25px;
    border: 1px solid #0F77C7;
    color: #0F77C7;
    outline: none;
    border-radius: 5px;
    line-height: 8px;
    vertical-align: middle;
    letter-spacing: 1px;
    width: 80px;
  }