.main-footer {
    padding: 4px 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e4e4e4;
    font-size: 11px;
    z-index: 9;
  }